*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(159deg, rgba(192, 220, 231, 0.666),rgb(156, 207, 143));
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

header{
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    flex-direction: column;
}
h1{
    font-size: 40px;
}






.input-con{
    display: none;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.input-con input{
    width: 150px;
    height: 150px;
    border-radius: 70px;
    border: none;
    outline: none;
    font-size: 50px;
    text-align: center;
    margin: 10px;
    padding-left: 10px;
    box-shadow: 5px 5px 10px grey;
}

.input-con button{
    width: 150px;
    height: 150px;
    border-radius: 70px;
    border: none;
    outline: none;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    background-color: forestgreen;
    color: white;
    box-shadow: 5px 5px 10px grey;
}

.input-con button:hover{
    background-color: rgb(127, 255, 47);
    color: black;
    cursor: pointer;
}






.img-con{
    background-image: url(./img/numbers.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 50px;
}

.desc-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

.live-con{
    display: none;
    font-size: 25px;
}





.btn-con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.btn-con button{
    width: 150px;
    height: 150px;
    border-radius: 70px;
    border: none;
    outline: none;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    background-color: forestgreen;
    color: white;
    box-shadow: 5px 5px 10px grey;
}

.btn-con button:hover{
    background-color: rgb(127, 255, 47);
    color: black;
    cursor: pointer;
}




.restart{
    display: none; 
}